html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.clear {
  width: 7em;
  height: 2.5em;
  font-size: 0.9em;
  color: gray;
  padding: 0.5em;
  background-color: rgb(245, 245, 245);
  border: none;
  position: absolute;
  bottom: 1em;
  left: 1em;
  text-align: center;
  border-radius: 0.1em;
}

.clear:hover {
  background-color: rgb(255, 0, 0);
  color: white;
  box-shadow: 0.1em 0.1em 0.3em 0.05em rgb(106, 106, 106);
}

.clear:hover #x {
  color: rgb(255, 255, 255);
}

.todo_list {
  width: 35em;
  min-width: 25em;
  max-width: 75em;
  padding: 2em;
  color: rgb(45, 45, 45);
}

.todo_list .heading {
  display: flex;
}

.todo_list .heading h1 {
  font-weight: 700;
  font-size: 2.5em;
  width: 100%;
  margin: 0.5px;
  text-align: left;
  line-height: 0.8em;
  color: rgb(205, 205, 205);
}

.todo {
  height: 15em;
  background-color: rgba(65, 65, 65, 0.9);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 2em 1em 1em;
  position: relative;
}

.todo label {
  font-size: 1.5em;
  color: rgb(210, 210, 210);
  font-weight: 800;
  margin: 0;
}

.todo_input {
  width: auto;
  border: none;
  height: 1.5em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 1.2em;
  margin: 0.2em 0;
}

.todo input:focus {
  border: none;
}

.todo_btn_add {
  font-size: 1.2em;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 5px;
  background-color: orange;
  color: white;
  font-weight: 800;
  border: 0px white solid;
  box-shadow: 5px 5px 10px 1px rgb(80, 80, 80);
}

.todo button:hover {
  background-color: rgb(46, 150, 255);
  color: white;
}

.todo button:active {
  box-shadow: 0 1px rgb(168, 168, 168);
  transform: translateY(2px);
}

.list_items {
  border-radius: 0;
  min-height: 15em;
  height: auto;
  background-color: rgba(85, 85, 85, 0.4);
  margin-top: 0;
  padding: 1em 0 3.5em 0;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.5px solid rgb(85, 85, 85);
}

.list_items .my_todo_items {
  display: flex;
  margin: 0.2em 0.8em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 1em;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px 0 0 0;
}

.today {
  width: 12em;
  font-size: 0.8em;
}

.my_list .items {
  margin: 0;
  padding-left: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  line-height: 2em;
  cursor: pointer;
  word-break: break-word;
  white-space: normal;
}

.items .date {
  font-weight: bold;
  margin: 0 1em 0 0;
}

.my_list .my_todo_items:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0em 0.05em 0.05em 0.05em rgb(169, 169, 169);
}

.remove_item {
  background-color: rgb(255, 93, 90);
  width: 2.5em;
  height: 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  box-shadow: 1px 2px 4px 0.05px rgb(105, 105, 105);
}

.remove_item:hover {
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
}

.remove_item:active {
  box-shadow: 0 1px rgb(168, 168, 168);
  transform: translateY(1px);
}

.alert {
  margin: 0;
  display: none;
  top: 5em;
  margin: auto;
  left: 0;
  right: 0;
  width: 70%;
  min-height: 5em;
  max-height: 10em;
  background-color: rgba(95, 95, 95, 0.9);
  padding: 2em;
  justify-content: center;
  border-radius: 0px;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

#alert_close {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1.5em;
  padding: 0.3em;
  color: rgb(255, 234, 194);
  background-color: orange;
}

#alert_close p {
  margin: 0.2em 0;
}

#alert_close:hover {
  background-color: red;
  color: white;
}

#alert_close:active {
  transform: translateY(2px);
}

@media screen and (min-width: 600px) and (min-height: 1000px) {
  html,
  body {
    font-size: 15px;
  }

  .section {
    width: 100%;
    height: 100%;
    padding: 2em 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1000px) {
  html,
  body {
    font-size: 12px;
  }

  .section {
    width: 100%;
    height: 100%;
    padding: 4% 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1500px) {
  html,
  body {
    font-size: 15px;
  }
}
